//色
$bgList :#610202;
$bgListEnd :#a10000;
$bgBody :rgb(253, 253, 253);
$strYellow: #ff0;
$strRed: #ff6262;
$shadowGray: #dbdbdb;
$bgGray: #ececec;

body {
    margin: 0;
    // font-family: 'Meiryo';
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    background: $bgBody;
    font-size: 18px;
    color: #373737;

    header {
        .header_image {
            text-align: center;
            width: 100%;
            background: url('/img/common/pc/header_test_back.png');
        }

        table.header_form {
            position: absolute;
            left: 50%;
            top: 400px;
            width: 520px;

            input[type=email],
            input[type=password] {
                width: 90%;
                height: 30px;
            }

            td{
                &.rule {
                    font-size: 12px;
                }
                &.button {
                    text-align: center;
                    padding-top: 10px;

                    input[type=submit] {
                        cursor: pointer;
                        height: 45px;
                        width: 50%;
                        transition: 1s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

        }
    }

    main {
        .yellow {
            color: $strYellow;
        }

        .red {
            color: $strRed;
        }

        
        .contents_inner {
            width: 980px;
            margin: 50px auto 80px;

            h2 {
                padding: 1rem 2rem;
                color: #fff;
                // background: $bgList;
                background: linear-gradient($bgListEnd 0%,$bgList 50%, $bgListEnd 100%);
                -webkit-box-shadow: 5px 5px 0 #ff2b2b;
                box-shadow: 5px 5px 0 #ff2b2b;
            }
            .worries {
                display: flex;
                ul {
                    width: 75%;
                    background: $bgGray;
                    border-radius :8px;/*角の丸み*/
                    // box-shadow :0px 0px 5px $bgList;/*5px=影の広がり具合*/
                    padding: 0.2em 0.5em 1.0em 2em;
                    li {
                        line-height: 1.5;
                        padding: 0.8em 0 0.2em;
                        // color: #fff;
                        font-weight: bold;
                        font-size: 22px;
                        border-bottom: 3px dotted #373737;
                    }
                }
                .image {
                    width: 25%;
                    position: relative;

                    img {
                        width: 100%;
                        position: absolute;
                        bottom: 2em;
                    }
                }
            }

            .selected_reason {
                font-weight: bold;
                // font-size: 26px;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                margin: 75px 0;

                .box {
                    h3 {
                        position: relative;
                        height: 50px;
                        margin: 0px 160px 0px 35px;
                        padding: 0.5rem 2rem 0 2rem;
                        word-break: break-all;
                        color: #fff;
                        background: #7c1919;
                        font-size: 26px;
                        letter-spacing: 1.2;

                        &:after {
                            position: absolute;
                            top: 0;
                            right: -55px;
                            width: 0;
                            height: 0;
                            content: '';
                            border-width: 58px 55px 0 0;
                            border-style: solid;
                            border-color: #7c1919 transparent transparent transparent;
                        }

                        span {
                            &.title_num {
                                font-size: 40px;
                                font-size: 4rem;
                                position: absolute;
                                top: -4px;
                                right: -120px;
                                display: block;
                                padding-top: 3px;
                                padding-left: 16px;
                                color: #7c1919;
                            }
                            &.stand_out {
                                color: #DA8E00;
                                background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }

                        }

                    }
                    p {
                        padding: 15px 10rem 40px 72px;
                        margin: 0;
                        line-height: 2.0;
                    }
                }
            }

            
            .add_function {
                .function_area {
                    display: flex;
                    .box{
                        width: 40%;
                        padding: 2em 1em;
                        margin: 2em 5%;
                        color: $bgList;
                        background: $bgGray;
                        border-top: solid 5px $bgListEnd;
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
                        p {
                            font-weight: bold;
                            font-size: 22px;
                            margin: 0; 
                            padding: 0;
                            text-align: center;
                        }
                    }
                }
            }

            .voice {
                .swiper {
                    width: 80%;
                    margin: 0 auto;

                    .swiper-wrapper {
                        height: 300px;
    
                        .swiper-slide {
                            width: 45%;
                        }
                    }
    
                    .swiper-button-next, .swiper-button-prev {
                        bottom: 0;
                        top: 100%;
                        width: 20px;
                        height: 20px;
                        &:after {
                            font-weight: bold;
                            font-size:16px
                        }
                    }
                    .swiper-button-prev {
                        left: 300px;
                    }
                    .swiper-button-next {
                        right: 300px;
                    }
                }
            }

            p.text_contents {
                margin: 30px 0 60px;
            }
        }

        .fs_26 {
            font-size: 26px;
        }

    }

    // footer {
    //     padding: 20px;
    //     background: #eee;

    //     .footer {
    //         .footer_site_title {
    //             text-align: center;
    //         }
    //         .footer_link_list {
    //             font-size: 12px;
    //             text-align: center;
    //             padding: 20px;

    //             a {
    //                 padding: 0 5px;
    //             }
    //         }
    //         .footer_copyright_area {
    //             font-size: 10px;
    //             text-align: center;
    //         }
    //     }
    // }
}